<robot xmlns:xacro="http://ros.org/wiki/xacro" name="carmen">

    <xacro:include filename="$(find carmen_description)/robot/robot.urdf.xacro"/>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

    <gazebo reference="base_footprint">
        <gravity>true</gravity>
    </gazebo>

    <gazebo reference="base_link">
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="front_left_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="front_right_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rear_left_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rear_right_wheel">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <fdir1 value="1 0 0"/>
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="front_right_bearing">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="front_left_bearing">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="rear_left_bearing">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="rear_right_bearing">
        <mu1 value="1.0"/>
        <mu2 value="1.0"/>
        <kp value="10000000.0"/>
        <kd value="1.0"/>
        <material>Gazebo/Blue</material>
    </gazebo>

</robot>
