<launch>
  <arg name="port" default="/dev/nucleo_control"/>
  <arg name="baud" default="230400"/>
  <arg name="rate" default="4"/>

  <node pkg="carmen_hardware" type="carmen_hardware_node" name="carmen_robot_hardware" output="screen">
    <param name="port" type="str" value="$(arg port)"/>
    <param name="baud" type="int" value="$(arg baud)"/>
    <param name="rate" type="int" value="$(arg rate)"/>
  </node>

  <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" output="screen">
    <param name="publish_debug_topics" type="bool" value="false"/>
    <param name="publish_tf" type="bool" value="false"/>
    <param name="world_frame" type="str" value="enu"/>
    <remap from="imu/data_raw" to="/imu"/>
    <remap from="imu/mag" to="/mag_field"/>
    <remap from="imu/data" to="/imu_with_orientation"/>
  </node>
</launch>
