<launch>
  <arg name="port" default="/dev/ttyACM1"/>
  <arg name="baud" default="115200"/>
  <arg name="rate" default="10"/>

  <node pkg="carmen_hardware" type="carmen_hardware_node" name="rosserial" output="screen">
    <param name="port" type="str" value="$(arg port)"/>
    <param name="baud" type="int" value="$(arg baud)"/>
    <param name="rate" type="int" value="$(arg rate)"/>
  </node>
</launch>
