<launch>
    <arg name="port" default="/dev/ttyACM0"/>
    <arg name="baud" default="230400"/>
    <arg name="velocity_control" default="false"/>

    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find carmen_description)/robot/robot.urdf.xacro'"/>


    <include file="$(find carmen_hardware)/launch/hardware.launch">
        <arg name="port" value="$(arg port)"/>
        <arg name="baud" value="$(arg baud)"/>
    </include>

    <include file="$(find carmen_control)/launch/control.launch">
        <arg name="sim" value="false"/>
        <arg name="velocity_control" value="$(arg velocity_control)"/>
    </include>

</launch>
